ion-card ion-card-header {
    cursor: pointer;
}

ion-card.playing ion-card-header {
    background-color: var(--ion-color-primary);
}

ion-card-title {
    text-align: center;
}

ion-card-title ion-icon {
    font-size: 60px;
}
